* {
  font-family: "Fira Code", monospace, sans-serif;
}

.App {
  min-height: 100vh;
}

.card {
  margin-bottom: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.card-center {
  align-items: center;
  align-self: center;
}

.search {
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 10px;
  width: 25%;
  border: none;
}

.navbar-brand {
  font-weight: 600;
}

.form-select[multiple] {
  overflow-y: auto;
}
