.App {
  min-height: 100vh;
}

.card {
  margin-bottom: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.card-center {
  align-items: center;
  align-self: center;
}

.navbar-brand {
  font-weight: 600;
}

.form-select[multiple] {
  overflow-y: auto;
}
